@import "../../styles/vars";

.nav {
  background: $navbar-background;
  border-radius: 16px;
  box-sizing: border-box;
  font-family: $navbar-font-family;
  font-size: 1rem;
  margin: 0 0 32px;
  padding: 30px 32px;
  position: relative;
  width: 100%;

  &__logo {
    &__image {
      width: 300px;
    }
  }

  &__links {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);

    &__item {
      display: inline-block;
      margin: 0 32px;

      &__link {
        color: $colour-black;
        font-weight: 400;
        position: relative;
        text-decoration: none;

        &::after {
          background: $colour-black;
          bottom: 0;
          content: "";
          height: 0;
          left: 50%;
          position: absolute;
          transform: translateX(-50%);
          transition: all 0.1s;
          width: 5%;
        }

        &--active {
          font-weight: 600;

          &::after {
            bottom: -8px;
            height: 3px;
            min-width: 20px;
            width: 20%;
          }
        }
      }
    }
  }

  @include breakpoint(sm) {
    padding: 20px;
    text-align: center;

    &__logo {
      border-radius: 16px;
      display: block;
      margin: 0 auto 16px;

      &__image {
        max-width: 100%;
        width: 200px;
      }
    }

    &__links {
      left: 0;
      position: relative;
      transform: none;

      &__item {
        margin: 16px 32px;
      }
    }
  }
}
