@import "../../styles/mixins";
@import "../../styles/vars";

.event {
  &__advice {
    &__title {
      display: block;
      font-weight: bold;
    }
  }

  &__updated {
    opacity: 0.4;
  }

  &__button {
    @include base-button;

    margin: 16px 0 0;
  }
}
