@import "../../styles/vars";

.message {
  position: relative;
  width: 100%;

  &__caption {
    box-sizing: border-box;
    padding: 50px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    a {
      color: $colour-black;
    }
  }
}
