@import "../../styles/mixins";
@import "../../styles/vars";

.controls {
  display: grid;
  font-family: $shoutout-font-family;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  margin: 0 0 32px;

  &__items {
    &__button {
      @include base-button;

      &--dark {
        background: $colour-black;
        color: $colour-white;
      }

      +.controls__items__button {
        margin-left: 8px;
      }
    }

    &--side-by-side {
      text-align: right;
    }

    @include breakpoint(sm) {
      text-align: center;

      +.controls__items {
        margin: 8px 0 0;
      }

      &__button {
        &--side-by-side {
          display: none;
        }
      }
    }
  }

  @include breakpoint(sm) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
