@import "../../styles/vars";

.about {
  &__intro {
    margin: 16px 0 48px;

    &::after {
      background: $colour-mid-grey;
      content: "";
      display: block;
      height: 1px;
      margin: 36px 0;
      width: 100%;
    }
  }

  &__title {
    margin: 32px 0 8px;

    &--first {
      margin: 16px 0 8px;
    }
  }

  &__profile {
    margin: 0 0 16px;

    &__name {
      &__image {
        display: inline;
        margin: 0 4px 0 0;
        width: 16px;
      }

      &__name {
        display: inline;

        &__role {
          font-weight: 400;
        }
      }
    }

    &__links {
      color: $colour-black;
      margin: 4px 0 8px;

      &__item {
        &__link {
          color: inherit;
        }
      }
    }
  }

  &__repo {
    color: $colour-black;
    margin: 32px 0 0;

    &__link {
      color: inherit;
      opacity: 0.4;
    }
  }
}
