@import "../../styles/vars";

.footer {
  font-family: $footer-font-family;
  font-size: 1rem;
  margin: 0;
  text-align: center;

  &__links {
    color: #000;
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      display: inline-block;
      margin: 0 8px;

      &__link {
        color: inherit;
        font-weight: bold;
      }

      +.footer__links__item {
        &::before {
          content: "•";
          margin: 0 16px 0 0;
        }
      }
    }

    &--muted {
      color: inherit;
      opacity: 0.2;
    }
  }

  &__love {
    &__link {
      color: inherit;
    }
  }

  &__disclaimer {
    opacity: 0.2;

    &__link {
      color: inherit;
    }
  }

  @include breakpoint(sm) {
    &__links {
      margin: 0 0 32px;

      &__item {
        display: block;
        margin: 8px;

        &::before {
          display: none;
        }
      }
    }
  }
}
