@import "../../styles/vars";

.table {
  display: flex;
  font-family: $table-font-family;
  overflow-y: scroll;
  position: relative;
  width: 100%;

  &__table {
    border: none;
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    &__header {
      background: $table-header-colour !important;
      position: sticky;
      top: 0;
    }

    tr {
      vertical-align: top;

      th,
      td {
        padding: 16px 0 16px 16px;

        &:last-child {
          padding-right: 16px;
        }
      }

      &:nth-child(odd) {
        background: #ededed;
      }
    }
  }
}
