<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo%202:400,500,600&display=swap" />

    <!--
      Why, hello there!
      Have quetions? hello@locationsofinterest.co.nz
    -->

    <link rel="icon" href="./assets/icon.png"  type="image/png" />
    <link rel="shortcut icon" href="./assets/icon.png" type="image/png" />
    <meta name="description" content="COVID-19 (novel coronavirus) Locations of Interest in Aotearoa New Zealand" />
    <link rel="canonical" href="https://www.locationsofinterest.co.nz" />

    <meta property="og:site_name" content="Locations of Interest" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.locationsofinterest.co.nz" />
    <meta property="og:title" content="Locations of Interest" />
    <meta property="og:description" content="COVID-19 (novel coronavirus) Locations of Interest in Aotearoa New Zealand" />
    <meta property="og:image" content="https://www.locationsofinterest.co.nz/assets/loi-preview.png">

    <!-- Hotjar Tracking Code for https://locationsofinterest.co.nz -->
    <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:2572230,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z6917K0418"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Z6917K0418');
    </script>

    <title>Locations of Interest | COVID-19 | Aotearoa New Zealand</title>
  </head>

  <body>
    <div id="appRoot"></div>

    <script>
      window.MAPS_READY = false;
      function initMap() {
        window.MAPS_READY = true;
        document.dispatchEvent(new CustomEvent("MapsReady"));
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmQHsDra9wH22YlP53BIPOH5ZMI-uDCwU&callback=initMap&libraries=&v=weekly" async></script>
  </body>
</html>
